.navigation-wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
  transform: none !important;
}
 
.navigation-container1 {
  display: block;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigationroot-class-name {
  top: 0px;
  z-index: 1000;
  position: sticky;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
@media(max-width: 1600px) {
  .footer-thq-footer-logo-group-elm {
    width: 350px;
  }
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-text14 {
  color: var(--color-primary);
}
 
.home-thq-text-accent-elm1 {
  color: var(--color-accent);
}
 
.home-thq-btn-elm6 {
  width: 144px;
}
 
.home-thq-contact-container-elm {
  width: auto;
  height: auto;
  align-items: center;
  margin-right: auto;
  justify-content: center;
}
 
.home-thq-contact-primary-elm {
  width: auto;
  height: auto;
}
 
.home-thq-text-accent-elm2 {
  color: var(--color-accent);
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon24 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text25 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 1600px) {
  .home-thq-contact-container-elm {
    width: auto;
    height: auto;
  }
  .home-thq-contact-primary-elm {
    width: auto;
    height: auto;
  }
}
 
@media(max-width: 1200px) {
  .home-thq-contact-container-elm {
    width: auto;
    height: auto;
  }
  .home-thq-contact-primary-elm {
    width: auto;
    height: auto;
  }
}
 
@media(max-width: 991px) {
  .home-thq-page-container-elm {
    width: 100%;
  }
  .home-thq-contact-container-elm {
    width: auto;
    height: auto;
  }
  .home-thq-contact-primary-elm {
    width: auto;
    height: auto;
  }
}
 
@media(max-width: 767px) {
  .home-thq-contact-container-elm {
    width: auto;
    height: auto;
  }
  .home-thq-contact-primary-elm {
    width: auto;
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .home-thq-contact-container-elm {
    width: auto;
    height: auto;
  }
  .home-thq-contact-primary-elm {
    width: auto;
    height: auto;
  }
}
