.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
@media(max-width: 1600px) {
  .footer-thq-footer-logo-group-elm {
    width: 350px;
  }
}
