.navigation-container1 {
  display: block;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigationroot-class-name {
  top: 0px;
  z-index: 1000;
  position: sticky;
}

.navigation-wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
  transform: none !important;
}
